footer{
    background-color: #377771;
    div{
        p{
            font-size: 120%;
            font-weight: 400;
            font-style: italic;
            text-align: center;
            padding-top: 5px;
        }
    }
    .logos{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 30px 25px;
    }
}
