header{
    position: sticky;
    top: 0px;
    .navbar{
        background-color: #377771!important;
        font-size: 25px;
        z-index: 1000;
        div{
            .logo{
                font-size: 40px;
            }
            .collapse{
                ul{
                    li{
                        margin-inline: 35px;
                    }
                }
                .btn{
                    font-weight: 900;
                }
            }
        }
    }
}