@media (max-width:1700px){
    .preguntas{
        .proyect{
            img{
                height: 430px;
                width: 790px;
                border-radius: 15px;
            }
            p{
                font-size: 50px;
            }
        }
    }
}

@media (max-width:1450px){
    .preguntas{
        .proyect{
            img{
                height: 430px;
                width: 690px;
            }
            p{
                font-size: 40px;
            }
        }
    }
} 

@media (max-width:1330px){
    .preguntas{
        .proyect{
            img{
                height: 430px;
                width: 640px;
            }
            p{
                font-size: 39px;
            }
        }
    }
}

@media (min-width: 1200px){
    .tarjetas{
        .conteiner{
            .row{
                .col{
                    .card{
                        img{
                            width: 353.98px;
                        }
                    }
                }
            }
        }
    }
    .sobrenos{
        .formulario{
            padding-top: 80px !important;
        }
    }
    .contenido{
        .conocimientos{
            h3{
                font-size: 50px;
                margin-top: 0px !important;

            }
        }
    }
}

@media (max-width: 1190px) {
    .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h5{
                        font-size: 45px;
                        text-shadow: 12px 12px 20px rgb(0, 0, 0) !important;
                    }
                }
            }
        }
    }
    .hero{
        .conteiner{
            h3{
                font-size: 50px !important;
            }
        }
    }
    .mision{
        .mis{
            div{
                p{
                    font-size: 32px;
                }
            }
        }
    }
    .alumnos{
        p{
            font-size: 30px;
        }
    }
    .sobrenos{
        .formulario{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .preguntas{
        .proyect{

            img{
                height: 430px;
                width: 600px;
            }
            p{
                font-size: 38px;
            }
        }
    }
}

@media (max-width: 1118px){
    .preguntas{
        .proyect{
            margin-top: 0px;
            img{
                height: 400px;
                width: 560px;
            }
            p{
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 990px){
    .preguntas{
        .titulo{
            h2{
                font-size: 52px;
            }
        }
        .proyect{
            height: 450px;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            img{
                height: 320px;
                width: 480px;
            }
            p{
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 940px) {
    header{
        position:relative;
        top: 0px;
    }
    .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h5{
                        font-size: 35px;
                    }
                }
            }
        }
    }
    .alumnos{
        p{
            font-size: 36px;
        }
    }
    .preguntas{
        .proyect{
            img{
                width: 460px;
            }
            p{
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 845px){
    .sectionone{
        .introduccion{
            .introduccionrobotica{
                display: flex;
                flex-direction: column;
                height: 70vh;
                iframe{
                    width: 80vw;
                    height: 800px !important;
                }
                p{
                    font-size: 24px;
                }
            }
            .subrob{
                margin-top: 0px;
                text-align: center;
            }
        }
    }
    .alumnos{
        p{
            font-size: 32px !important;
        }
    }
    .preguntas{
        .titulo{
            h2{
                font-size: 53px;
            }
        }
        .proyect{
            height: 400px;
            img{
                height: 300px;
                width: 400px;
            }
            p{
                font-size: 28px;
            }
        }
    }
    .mision{
        .mis{
            div{
                p{
                    font-size: 29px;
                }
            }
        }
    }
    .alumnos{
        p{
            font-size: 37px !important;
        }
    }
}

@media (max-width: 800px){
    .presentacion{
        height: 90vh;
        img{
            height: 60%;
            margin-top: 5px;
        }
    }

    .hero{
        .conteiner{
            h3{
                font-size: 40px !important;
            }
        }
    }
    .alumnos{
        .subb{
            h3{
                font-size: 54px;
            }
        }
    }
}

@media (max-width: 735px){
    .preguntas{
        .titulo{
            h2{
                font-size: 50px;
            }
        }
        .proyect{
            img{
                height: 300px;
                width: 350px;
            }
            p{
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 730px) {
    .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h5{
                        font-size: 28px;
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
    }
    .preguntas{
        .titulo{
            height: 64px;
            h2{
                font-size: 40px;
            }
    }
}
}

@media (max-width: 691px){
    .presentacion{
        height: 80vh;
    }

    .preguntas{
        .proyect{
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 0px;
            height: auto;
            margin-top: 10px;
            padding-bottom: 10px;
            
            img{
                height: 260px;
                width: 80vw;
            }
            p{
                width: 80vw;
                text-align: center;
                font-size: 22px;
            }
        }
    }
    .alumnos{
        p{
            font-size: 30px !important;
        }
    }
    .preguntas{
        .proyect{
            iframe{
                height: 250px;
                width: 100%;
            }
        }
    }
}

@media (max-width:590px){
    .presentacion{
        div{
            h2{
                font-size: 38px; 
            }
            h3{
                font-size: 23px;
            }
        }
        h4{
            font-size: 23px;
        }
    }
    .formaciones{
        h2{
            font-size: 23px;
        }
        .textocuatro{
            h3{
                font-size: 23px;
            }
        }
    }
    .mis{
        h2{
            font-size: 49px !important;
        }
    }
    .mision{
        .mis{
            div{
                p{
                    font-size: 25px;
                }
            }
        }
    }
    .alumnos{
        p{
            font-size: 28px !important;
        }
    }
    .preguntas{
        .titulo{
            height: 50px;
            h2{
                font-size: 35px;
            }
    }
}
}

@media (max-width: 555px) {
    .presentacion{
        height: 65vh;
    }

    .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h5{
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .sectionone{
        .introduccion{
            h2{
                font-size: 45px;
            }
        }
    }

    .alumnos{
        .subb{
            h3{
                font-size: 40px;
            }
        }
    }
    .alumnos{
        p{
            font-size: 26px !important;
        }
    }
    .preguntas{
        .proyect{
            img{
                height: 250px;
                width: 85vw;
            }
            p{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 500px){
    .presentacion{
        height: 60vh;
    }

    .hero{
        height: 100vh;
        .conteiner{
            h3{
                font-size: 35px !important;
            }
        }
    }
    .preguntas{
        .titulo{
            h2{
                font-size: 30px;
            }
        }
    }
} 
@media (max-width: 465px){
    .presentacion{
        img{
            margin-top: 10px;
        }
    }

    .sectionone{
        .introduccion{
            h2{
                font-size: 40px;
            }
        }
    }

    .mis{
        h2{
            font-size: 44px !important;
        }
    }
    .mision{
        .mis{
            div{
                p{
                    font-size: 23px;
                }
            }
        }
    }
    .preguntas{
        .titulo{
            height: 40px;
            h2{
                font-size: 25px;
            }
        }
        .proyect{
            p{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 398px){
    .preguntas{
        .titulo{
            height: 40px;
            h2{
                font-size: 25px;
            }
        }
        .proyect{
            p{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 370px) {
    header{
        .navbar{
            div{
                .logo{
                    font-size: 25px;
                }
            }
        }
    }
    .carousel{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    h5{
                        font-size: 19px;
                    }
                }
            }
        }
    }
    .alumnos{
        p{
            font-size: 25px !important;
        }
    }

}